In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#load the dataset
df = pd.read_csv('./dataset/IMDB Dataset.csv')

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [5]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [7]:
df['review']=df['review'].str.lower()

In [8]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [9]:
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [10]:
import re 
def html_handler(text):
    pattern = re.compile(r'<.*?>')
    return pattern.sub(r'',text)

In [12]:
text =df['review'][3]
print(text)

basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them.

In [13]:
html_handler(text)

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [15]:
df['review']=df['review'].apply(html_handler)

In [16]:
def  url_handler(text):
    pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    return pattern.sub(r'',text)

In [17]:
text1 = 'check out this website: https://www.kagglers.com/download'

In [18]:
text1

'check out this website: https://www.kagglers.com/download'

In [19]:
url_handler(text1)

'check out this website: '

In [20]:
df['review']=df['review'].apply(url_handler)

In [21]:
import string, time

In [22]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [23]:
exclude=string.punctuation

In [24]:
def remove_punctions(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [25]:
text2 = 'string. with? punctions : hello world!'

In [26]:
remove_punctions(text2)

'string with punctions  hello world'

In [27]:
df['review']=df['review'].apply(remove_punctions)

In [28]:
df1=pd.read_csv('../beginner_datasets/tweets.csv')

In [29]:
df1

              id                                              tweet
0     2602860537  10 Things Missing In The New Twitter Interface...
1     2602850443  RT @_NATURALBWINNER OH AND I DONT LIKE THIS #N...
2     2602761852  RT @HBO24 yo the #newtwitter is better.. YUPP ...
3     2602738438  Aaaaaaaand I have the new twitter! Yay! I shou...
4     2602684185  can I please have the new twitter? #twitter #n...
...          ...                                                ...
8589  2716415694  Im sorry but the #newtwitter has too many bugg...
8590  2716414036  RT @adamsconsulting: RT @cheth: 25 #NewTwitter...
8591  2716412491  I'm liking the new twitter - so fresha dn so c...
8592  2716412350      @_stritti_ me too a few days ago. #newtwitter
8593  2716411630  ya thats right im fancy ive entered the vertex...

[8594 rows x 2 columns]

In [31]:
df1['tweet']=df1['tweet'].apply(remove_punctions)

In [32]:
df1

              id                                              tweet
0     2602860537  10 Things Missing In The New Twitter Interface...
1     2602850443  RT NATURALBWINNER OH AND I DONT LIKE THIS NEWT...
2     2602761852  RT HBO24 yo the newtwitter is better YUPP I SA...
3     2602738438  Aaaaaaaand I have the new twitter Yay I should...
4     2602684185  can I please have the new twitter twitter newt...
...          ...                                                ...
8589  2716415694  Im sorry but the newtwitter has too many buggs...
8590  2716414036  RT adamsconsulting RT cheth 25 NewTwitter Keyb...
8591  2716412491  Im liking the new twitter  so fresha dn so cle...
8592  2716412350           stritti me too a few days ago newtwitter
8593  2716411630  ya thats right im fancy ive entered the vertex...

[8594 rows x 2 columns]